@model BOL.article
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
</style>

<script src="~/SSSDCore/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $("#submitComment").click(function () {

            var _content = $('textarea#commentContent').val();

            $.ajax({
                    type: "POST",
                    url: "@Url.Action("Comment", "BrowseArticles")",
                    traditional: true,
                    data: { artID: @Model.id, content: _content },
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data, status) {
                $("#commentsDiv").html(data);
                    BindSelectAll();
            }

            function errorFunc() {
                alert('error');
            }
        });
    });
</script>

<div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->
            <!-- Title -->
            <h1>@Model.title , Views: @Model.views.ToString()</h1>

            <!-- Author -->
            <p class="lead">
                by <a href="#">@Model.user.name</a>
            </p>

            @if (Model.user.profile_picture != null)
            {
                string authAvatar = "";
                try
                {
                    authAvatar = "data:image/bitmap;base64," + Convert.ToBase64String(Model.user.profile_picture);
                }
                catch (Exception)
                {
                    authAvatar = "http://www.clipartbest.com/cliparts/nTB/nba/nTBnbaGTA.png";
                }
                <!-- Preview Image -->
                <a href="#"><img class="img-responsive" style="max-width:250px !important" src="@authAvatar" alt=""></a>
            }

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on @Model.timestamp</p>

            <hr>

            <!-- Post Content -->
            @Html.Raw(Model.content)
            <hr>

            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea id="commentContent" class="form-control" rows="3" required></textarea>
                    </div>
                    <button type="button" id="submitComment" value="submitComment" class="btn btn-primary">Post</button>
                </form>
            </div>

            <hr>

            <!-- Posted Comments -->
            <div id="commentsDiv">
                @Html.Partial("pv_comments", Model)
            </div>

        </div>

        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
            <!-- Blog Search Well -->
            <div class="well">
                <h4>Search Website</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /.input-group -->
            </div>
        </div>
</div>