@model BOL.faq

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>faq</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.q_timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.q_timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_timestamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_timestamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
